/* style.css 2 */


html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:white;
    margin :0;
    
        font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
        font-size: 16px; /* Cambia el tamaño de la fuente a 16px */
        line-height: 1.6; /* Cambia el espacio entre líneas */
        color: #333; /* Cambia el color del texto */
      
}

a {
    text-decoration: none; /* Elimina el subrayado */
}
header{
    background-color: rgb(34, 150, 196);
    color: black;
    padding: 2rem 1rem;
}

header article{
    font-size: 1rem;
    text-align: center;
}


.container{
    width: 300px;
    margin: 0 auto;
    float:left;   
}

.menu{
    list-style: none;
    padding: 0 0 3rem 1rem;
}



.container .menu{
    transition: box-shadow 0.3s ease; /*esto es cuanto tarda en hacer la sombrita*/
    background-color:lightgray;
    margin: 1rem 0;
    border-radius: 0.5rem; /*esto es lo que le da un borde*/
    padding: 0.25rem 0;
    cursor: pointer;
}

.container .menu:hover{
    box-shadow: 0 0.5rem 0.4rem rgba(73, 2, 114, 0.3);
}


.section-facultad{
    margin:200px auto;
    max-width: 400px;
    text-align: center;
    border-radius: 2rem;
    background-color: lightgrey;
}


.container_elements{
    text-align: center;
    margin: 0 0 1rem 0 ;
}

.elements{
    margin: 0 auto;
    max-width: 150px;
    text-align: center;
    background-color:rgb(137, 212, 255);
    border-radius: 5rem; /*esto es lo que le da un borde*/
    padding: 5px 0;
    cursor: pointer;
}

.section-facultad:hover{
    box-shadow: 0 5rem 5rem rgba(5, 28, 238, 0.3);
}

.elements:hover{
    box-shadow: 0 0.5rem 0.4rem rgba(1, 7, 58, 0.3);
}


.section-fisica{
    font-size: 25px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center; /* Centrar el texto */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  ul li:hover {
    background-color: #34a9f7;
  }

a:link{
    color:rgb(7, 3, 3)
}
a:visited{
    color:rgb(76, 1, 78)
}
a:hover{
    color:rgb(156, 15, 156)
}
a:active{
    color:rgb(156, 15, 156)
}





.conteiner_div{
    float: left;
    margin: 0 0 1rem 0 ;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;    
}