/* style.css */
body{
    background-color:white;
    margin :0;
}


.container_title{
    background-color: rgb(67, 193, 235);
    color: black;
    padding: 2rem 1rem;
}

.container_title h1{
    font-size: 2rem;
    text-align: left;
    padding: .25em 1em;
    margin-bottom: 0.5em;
}

.container{
    width: 300px;
    margin: 0 auto;
    float:right;  

}

.menu{
    list-style: none;
    padding: 0 0 3rem 1rem;
}

.container .menu{
    transition: box-shadow 0.3s ease; /*esto es cuanto tarda en hacer la sombrita*/
    background-color:lightgray;
    margin: 1rem 0;
    border-radius: 0.5rem; /*esto es lo que le da un borde*/
    padding: 0.25rem 0;
    cursor: pointer;
}

.container .menu:hover{
    box-shadow: 0 0.5rem 0.4rem rgba(73, 2, 114, 0.3);
}

.element{
    margin: 0 0 0 1rem;
    padding: 0.25rem 0;
}


.container_elements{
    transition: box-shadow 0.3s ease; /*esto es cuanto tarda en hacer la sombrita*/
    max-width: 300px;
    background-color:white;
    margin: 0.25rem 0;
    border-radius: 0.5rem; /*esto es lo que le da un borde*/
    padding: 0.25rem 0;
    cursor: pointer;
}

.container_elements:hover{
    box-shadow: 0 0.5rem 0.4rem rgba(1, 7, 58, 0.3);
}
a:link{
    color:rgb(134, 22, 22)
}
a:visited{
    color:rgb(5, 29, 5)
}
a:hover{
    color:rgb(156, 15, 156)
}
a:active{
    color:rgb(156, 15, 156)
}


